<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Welcome in BucketList!{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/logo.png') }}">
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <header>
        <div class="header-logo">
            <img src="{{ asset('img/logo.png') }}" alt="bucketList">
        </div>
        <div class="header-title">
            <h1>Bucket List</h1>
        </div>
        <nav class="header-nav">
            {% include'menu/nav.html.twig' %}
        </nav>
    </header>
    <!-- Flash Messages -->
    <div class="flash-container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        {% block footer %}
            <h3>©BucketList {{ "now" | date("Y") }}</h3>
        {% endblock %}
    </footer>
</div>
</body>
</html>