<nav>
    <ul>
        <li><a href="{{ path('app_main') }}">Home</a></li>
        <li><a href="{{ path('wish_list') }}">Liste des souhaits</a></li>
        {% if app.user %}
            <li><a href="{{ path('wish_add') }}">Nouveau souhait</a></li>
            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Connexion</a></li>
            <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
        {% endif %}
        <li><a href="{{ path('app_about') }}">About Us</a></li>
    </ul>
</nav>